
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    height: 90vh;
  }
  
  input{
    margin: 18px;
    font-size: 15px;
  
  }
 
  
  
  .container{
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 60px;
    border: 1px solid black;
    
  }
  
  .movielist{
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 10px;    
    margin: 50px;
    padding: 20px;
    
    
  
  }
  
  .movieContainer{
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 10px;   
    text-align: center;
    border: 1px solid black;
    width: 300px ;
    height:auto;
  
  
  }
  img{
  
  
    /* border: 1px solid black; */
    width: 130px;
    height: 150px;
  
  }
  